// nanumbarungothic
@font-face {
	font-family: 'NanumBarunGothic';
	font-weight: 300;
	src: local("*"), url(../font/NanumBarunGothicUltraLight.woff) format('woff'), url(../font/NanumBarunGothicUltraLight.ttf) format('truetype');
}

@font-face {
	font-family: 'NanumBarunGothic';
	src: local("*"), url(../font/NanumBarunGothic.woff) format('woff'), url(../font/NanumBarunGothic.ttf) format('truetype');
}

@font-face {
	font-family: 'NanumBarunGothic';
	font-weight: 700;
	src: local("*"), url(../font/NanumBarunGothicBold.woff) format('woff'), url(../font/NanumBarunGothicBold.ttf) format('truetype');
}

//NanumSquareWeb
@font-face {
	font-family: 'NanumSquareWeb';
	font-weight: 300;
	src: local("*"), url(../font/NanumSquareL.woff) format('woff'), url(../font/NanumSquareL.ttf) format('truetype');
}

@font-face {
	font-family: 'NanumSquareWeb';
	src: local("*"), url(../font/NanumSquareR.woff) format('woff'), url(../font/NanumSquareR.ttf) format('truetype');
}

@font-face {
	font-family: 'NanumSquareWeb';
	font-weight: 700;
	src: local("*"), url(../font/NanumSquareB.woff) format('woff'), url(../font/NanumSquareB.ttf) format('truetype');
}

@font-face {
	font-family: 'NanumSquareWeb';
	font-weight: 800;
	src: local("*"), url(../font/NanumSquareEB.woff) format('woff'), url(../font/NanumSquareEB.ttf) format('truetype');
}